# Ignore everything
*

# Always ignore these
.storage
.cloud
.google.token
ip_bans.yaml
secrets.yaml
known_devices.yaml

# Never ignore these.
!.gitignore
!automations.yaml
!configuration.yaml
!scenes.yaml
!scripts.yaml
!templates.yaml
